<div class="row col-sm-6" style="max-width:350px;">
  <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div class="form-group">
      <label for="username">Логин</label>
      <input type="text" class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel" required/>
      <div *ngIf="f.submitted && username.invalid">
        <div *ngIf="username.errors['required']">Username is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Пароль</label>
      <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel" required minlength="8"/>
      <div *ngIf="f.submitted && password.invalid">
        <div *ngIf="password.errors['required']">Password is required</div>
        <div *ngIf="password.errors['minlength']">Password must be at least 8 characters</div>
      </div>
    </div>

    <div class="form-group">
      <button class="btn btn-primary">Войти</button>
      <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
        Авторизация неуспешна: {{errorMessage}}
      </div>
    </div>
  </form>
  <hr />
  <p>У вас нет аккаунта?</p>
  <a href="register" class="btn btn-success">Регистрация</a>
</div>
